<!DOCTYPE html>
<html>
  <head>
    <title>Product Search</title>
  </head>
  <body>
    <h1>Product Search</h1>
    <form method="post" action="{% url 'home' %}">
      {% csrf_token %}
      <input type="text" name="product_name" placeholder="Enter product name">
      <button type="submit">Search</button>
    </form>
    <br>
    
    {% if amazon_products or flipkart_products %}
    <h2>Product Details:</h2>
    {% for product in amazon_products %}
        <h3>Amazon:</h3>
        <h4>{{ product.name }}</h4>
        <p>Price: {{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
    {% endfor %}
    {% for product in flipkart_products %}
        <h3>Flipkart:</h3>
        <h4>{{ product.name }}</h4>
        <p>Price: {{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
    {% endfor %}
{% else %}
    <p>No products found.</p>
{% endif %}


  </body>
</html>
