<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Search Results</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="static/style2.css">
  </head>
  <body>
<header>
    <form action="{% url 'home' %}" method="get">
      <input type="text" name="search" placeholder="Search products...">
      <button type="submit">Search</button>
    </form>
    
  </header>
  <main>
    <div class="topprize">
      <!-- <h1>Amazon <p class="price">{{ amazon_results.0.price }}</p></h1>
      <h1>Flipkart <p class="price">{{ flipkart_results.0.price }}</p></h1>
      <h1> Meesho <p class="price">{{  meesho_results.0.price }}</p></h1>
      <h1>Snapdeal <p class="price">{{ snapdeal_results.0.price }}</p></h1>
      <h1>Jiomart <p class="price">{{ jiomart_results.0.price }}</p></h1> -->

      <h1><img src="static/amazon.png" alt="Amazon "  class="logo"> <p class="price">{{ amazon_results.0.price }}</p></h1>
<h1><img src="static/flipkart.png" alt="Flipkart "    class="logo"> <p class="price">{{ flipkart_results.0.price }}</p></h1>
<h1><img src="static/meesho.png" alt="Meesho "   class="logo"> <p class="price">{{ meesho_results.0.price }}</p></h1>
<h1><img src="static/snapdeal.png" alt="Snapdeal "   class="logo"> <p class="price">{{ snapdeal_results.0.price }}</p></h1>
<h1><img src="static/jiomart.png" alt="Jiomart  "    class="logo"> <p class="price">{{ jiomart_results.0.price }}</p></h1>

<style>
  .logo {
    height: 80px;
    width: 120px;
  }
  .clogo {
    height: 90px;
    width: 130px;
  
  }
 

  
</style></div>
  <div class="results">
    <div class="amazon">
    <div class="product-wrapper">
      {% if amazon_results %}
      <table>
      <div class="product">
        <!-- <h1>Amazon Result</h1> -->
       
        <img src="static/amazon.png" alt="Amazon "  class="clogo" >
        <div class="image-wrapper"><img src="{{ amazon_results.0.image_url }}" alt="{{ amazon_results.0.name }} image"></div>
        <div class="product-details">
          <h2>{{ amazon_results.0.name }}</h2>
          <p>{{ amazon_results.0.description }}</p>
          <p class="price">{{ amazon_results.0.price }}</p>
          <a href="{{ amazon_results.0.product_url }}">View Product</a>
        </div>
      </tablex>
      </div>
    </div>
      {% endif %}

      {% if flipkart_results %}
      <div class="flipkart">
      <div class="product">
        <!-- <h1>Flipkart Result</h1> -->
        
        <img src="static/flipkart.png" alt="Flipkart "    class="clogo"> 
        <div class="image-wrapper"><img src="{{ flipkart_results.0.image_url }}" alt="{{ flipkart_results.0.name }} image"></div>
        <div class="product-details">
          <h2>{{ flipkart_results.0.name }}</h2>
          <p>{{ flipkart_results.0.description }}</p>
          <p class="price">{{ flipkart_results.0.price }}</p>
          <a href="{{ flipkart_results.0.product_url }}">View Product</a>
        </div>
      </div>
    </div>
      {% endif %}

      {% if meesho_results %}
      <div class="Meesho">
      <div class="product">
        
        <img src="static/meesho.png" alt="Meesho "   class="clogo">
        <!-- <h1> Result</h1> -->
        <div class="image-wrapper"><img src="{{ meesho_results.0.image_url }}" alt="{{ jiomart_results.0.name }} image"></div>
        <div class="product-details">
          <h2>{{ meesho_results.0.name }}</h2>
          <p>{{ meesho_results.0.description }}</p>
          <p class="price">{{ meesho_results.0.price }}</p>
          <a href="{{ meesho_results.0.product_url }}">View Product</a>
        </div>
      </div>
    </div>
      {% endif %}

      {% if snapdeal_results %}
      <div class="snapdeal">
      <div class="product">
       
        <!-- <h1>Snapdeal Result</h1> -->
        <img src="static/snapdeal.png" alt="Snapdeal "   class="clogo">
        <div class="image-wrapper"><img src="{{ snapdeal_results.0.image_url }}" alt="{{ snapdeal_results.0.name }} image"></div>
        <div class="product-details">
          <h2>{{ snapdeal_results.0.name }}</h2>
          <p>{{ snapdeal_results.0.description }}</p>
          <p class="price">{{ snapdeal_results.0.price }}</p>
          <a href="{{ snapdeal_results.0.product_url }}">View Product</a>
        </div>
      </div>
    </div>
      {% endif %}

      {% if jiomart_results %}
      <div class="jiomart">
      <div class="product">
        <!-- <h1>Jiomart Result</h1> -->
        
        <img src="static/jiomart.png" alt="Jiomart  "    class="clogo"> 
        <div class="image-wrapper"><img src="{{ jiomart_results.0.image_url }}" alt="{{ jiomart_results.0.name }} image"></div>
        <div class="product-details">
          <h2>{{ jiomart_results.0.name }}</h2>
          <p>{{ jiomart_results.0.description }}</p>
          <p class="price">{{ jiomart_results.0.price }}</p>
          <a href="{{ jiomart_results.0.product_url }}">View Product</a>
        </div>
      </div>
    </div>
      {% endif %}
   




      
    </div>
  </div>
</main>

  </body>
  <footer>
    <div class="social-links">
      <a href="https://github.com/SathyaSeelanG"><i class="fa fa-facebook"> github</i> </a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="back-to-top">
      <a href="#top">Back to top</a>
    </div>
  </footer>
  
</html>
