<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Search Results</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="static/style3.css">
  </head>
  <body>

    <form action="{% url 'home' %}" method="get">
      <input type="text" name="search" placeholder="Search products...">
      <button type="submit">Search</button>
    </form>
    
    <div class="product-list">
      <div class="product-section">
        <h1>Amazon Results</h1>
        {% for result in amazon_results %}
        <div class="product-item">
          
          <div class="product-info">
            <div class="product-image">
              <img src="{{ result.image_url }}" alt="{{ result.name }} image">
            </div>
            <h2>{{ result.name }}</h2>
            <p>{{ result.description }}</p>
            <p class="price">{{ result.price }}</p>
            <a class="view-product" href="{{ result.product_url }}">View Product</a>
          </div>
         
        </div>
        {% endfor %}
      </div>

      <div class="product-section">
        <h1>Flipkart Results</h1>
        {% for result in flipkart_results %}
        <div class="product-item">
          <div class="product-image">
            <img src="{{ result.image_url }}" alt="{{ result.name }} image">
          </div>
          <div class="product-info">
            <h2>{{ result.name }}</h2>
            <p>{{ result.description }}</p>
            <p class="price">{{ result.price }}</p>
            <a class="view-product" href="{{ result.product_url }}">View Product</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="product-section">
      <h1>Jiomart Results</h1>
      {% for result in jiomart_results %}
      <div class="product-item">
        <div class="product-info">
          <div class="product-image">
            <img src="{{ result.image_url }}" alt="{{ result.name }} image">
          </div>
          <h2>{{ result.name }}</h2>
          <p>{{ result.description }}</p>
          <p class="price">{{ result.price }}</p>
          <a class="view-product" href="{{ result.product_url }}">View Product</a>
        </div>
        
      </div>
      {% endfor %}
    </div>

  </body>
</html>
